@charset "UTF-8";
/* CSS Document */
body{
      /*background-image: url("../imagenes/fondo1.jpg");*/
      background-image:url("../imagenes/fondo1.jpg");
	  background-repeat: no-repeat;
	  background-size:2600px 5700px;
}
h1{
      font-family:Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
      text-align: center;
      text-shadow: 2px 2px 2px;

      box-shadow:10px 5px 0px 0px #220003;
      background: rgb(255,189,0);
      background: linear-gradient(180deg, rgba(255,189,0,1) 0%, rgba(255,103,0,1) 100%);
}

h2{
      font-family:Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
      font-size: 25px;
      text-align: center;
      text-shadow: 2px 2px 2px;
      background: rgb(255,189,0);
      background: linear-gradient(180deg, rgba(255,189,0,1) 0%, rgba(255,103,0,1) 100%);
      box-shadow:10px 5px 0px 0px #220003;
      padding-top:10px;
      padding-bottom: 10px;
}

h3{
      font-family:Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
      text-shadow: 2px 2px 2px;	
      text-align: center;
      background: rgb(255,189,0);
      background: linear-gradient(180deg, rgba(255,189,0,1) 0%, rgba(255,103,0,1) 100%);
      margin-left: 300px;
      margin-right: 300px;
      box-shadow:10px 5px 0px 0px #220003;
	    margin-top: 15px;
}

img{
      height: 30px;
      width: 30px;
      /*float: right;*/
      /*margin-bottom:900px;*/
	    /*margin-top: 30px;*/
}


a{
    /*margin-left:80px;
    margin-right: 90px;
	  margin-bottom: 5px;
	  margin-top: 20px;*/

}

.navmenu{ 
  list-style:none;
  line-height:40px;
  font-size:20px;
  font-weight:700;
  text-align: center;
}

.navmenu a{
  color:#ffffff;
}

input{

    /*float: right;*/
	  /*margin-top: 35px;*/
    padding: 5px;
    border-radius:8px;
    border:none;
}
p{
      background-color:rgba(255,103,0,1);
      width:400px;
      font-size:28px;
      box-shadow:8px 5px 7px 0px black;
      padding:30px;
      margin:20px auto;
}


.info{

  display:flex; 
  justify-content:center; 
  align-items:center;
  margin:40px auto;
  padding:30px;
  max-width:900px;
  border:4px solid #220003; 
  box-shadow:10px 8px 0px 0px rgba(34,0,3,0.6);
  background:rgba(255,189,0,0.85);
  border-radius:0;

}

.info p{
  margin:0 auto 20px;
  text-align:center;
}

.info p:last-child{
  margin-bottom:0;
}

.redes_sociales{
  text-align: right;
  padding-right: 20px;
}

.redes_sociales li{
  display: inline;
  list-style: none;
  margin-right: 10px;
}

.redes_sociales img {
  width: 60px;
  height: 60px;
}


.busquedas{
  text-align: right;
}

.busquedas li{
  display: inline;
  list-style: none;
}

#lupa{ 
  position:relative; 
  top:10px;

}

.E {
      margin-top:30px;
      width: 300px;
      /*margin-left:150px;*/
}
.y {
      margin:0;
      margin-left:0px;
      width: 50px;
      color: indianred;
	    margin-top: 20px;
}
.o{
      color:indianred;
      
}


.Ch{
	  margin:50px auto 30px;
	  font-size: 40px;
	  text-align: center;
}
.video {
	height: 500px;
	width: 500px;
}
.w {
    color: indianred;
    margin-left:0px;
    margin-top:0px;
    width:500px;
	margin-bottom: 20px;
}
.inf{
	color:indianred;
    margin: 0px;
	width: 500px;
	margin-top:10px;
}
.shop{
	width: 500px;
  height:auto !important;
	
}

footer{
	background-color:rgba(255,103,0,1);
	text-align: center;
	margin:50px -20px 0;
	padding:20px 0;
	font-size:26px;
	font-weight:700;

	
	
}
.contenedor{
	max-width: 1200px;
	margin:0 auto;
	padding: 16px;
}
/* Estilo por defecto para pantallas grandes */
body {
  font-size: 18px;
  margin: 0px;
  padding: 20px;
}

header{
  margin-top:40px;
  position:relative;
}

/* Para tabletas (pantallas medianas) */
@media (max-width : 768px ){
  body {
    font-size: 14px;
    margin: 5px;
  }
}

/* Para móviles (pantallas pequeñas) */
@media (max-width : 768px ){
  body {
    font-size: 14px;
    margin: 5px;
  }
}
     
.thae {
font-size: 40px;
margin-top:50px;
text-align: center;
}
.prev, .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      border: none;
      padding: 10px;
      cursor: pointer;
      z-index: 10;
      font-size: 18px;
    }

.en {
		display: flex;
		margin-left:550px;
}

    .slides2 img {
      width: 100%;
      height: auto;
	  transition:transform 0.5s ease-in-out;
	  display: flex;
    }
    .controls2 {
      position: absolute;
      top: 50%;
      width: 100%;
      display:flex;
      justify-content: space-between;
      transform: translateY(-50%);
	  margin-top: -1000px;
    }
    .prev, .next {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px 20px;
		cursor: pointer;}

  button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor:pointer;
  z-index: 10;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slide2 {
	 display: flex;
      transition: transform 0.5s ease-in-out;
      width: 100%;
}
.d{
	margin-left:0px;
	/*margin-top:-800px;*/
	
}



.desplegable{  
  display:none;

}

.abrirdesplegable:hover >.desplegable{
  display:block;
  width:100px;
  height:100px;
  background-color:white;
  padding:20px;
}



.desplegable {
  display: none;
  position: absolute;
  width: 150px;
  height: auto;
  border: 0px solid #fff;
  background: white;
  color: #000;
  left: 51%;
  top: 320px;
  transform: translate(-50%, -50%);
  z-index: 99999 !important;
  padding:30px;
  cursor: pointer;
}

.VirtualFriends-hover:hover > .desplegable {
  display: block;
  cursor: pointer;
  color:#000000;

}

.titulo-desplegable{ 
color:#ffffff;
text-decoration: underline;
 }

/* Imagen principal debajo del título */
.imagen-principal {
    width: 100%;
    text-align: center;
    margin: 30px auto;
    padding: 20px 0;
}

.imagen-principal img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    width: auto;
    display: block;
    margin: 0 auto;
}

#imagen-principal {
    height: auto;
    width: auto;
}

/* Imagen final antes del footer */
.imagen-final {
    width: 100%;
    text-align: center;
    margin: 50px auto 30px;
    padding: 20px 0;
}

.imagen-final img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    width: auto;
    display: block;
    margin: 0 auto;
}

#imagen-final {
    height: auto;
    width: auto;
}

/* ****************************** RESPONSIVE ******************************  */

 @media only screen and (max-width: 768px) {
  .imagen-principal {
    margin: 20px auto;
    padding: 10px 0;
  }
  
  .imagen-principal img {
    max-height: 250px;
  }
  
  .imagen-final {
    margin: 30px auto 20px;
    padding: 10px 0;
  }
  
  .imagen-final img {
    max-height: 250px;
  }
}
 